.photos {
    position: relative;
    width: auto; /* Change to auto to allow the container to adjust based on photo sizes */
    left: 51%;
    transform: translateX(-50%);
    top: 210px;
}

.photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Adjust the left position dynamically based on the number of photos */
.photo:nth-child(1) {
    left: calc(0% - 10px); /* Adjust 10px to half the width of your photos */
}

.photo:nth-child(2) {
    left: calc(20% - 10px);
}

.photo:nth-child(3) {
    left: calc(40% - 10px);
}

.photo:nth-child(4) {
    left: calc(60% - 10px);
}

.photo:nth-child(5) {
    left: calc(80% - 10px);
}
